.container {
  background-color: rgb(228, 228, 228);
  display: inline-block;
  border: solid 1px gray;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0,0,0,.16);
  font-family: arial,sans-serif;
  font-size: 14px;
}