.field {
  background: linear-gradient(175deg, rgba(20,189,172,1) 0%, rgba(20,189,172,1) 44%, rgba(226,226,226,1) 85%); 
  margin: -5px 0;
  padding: 10px;
}

.restart {
  color: #14bdac;
  font-weight: bold;
  width: 100%;
  height: 70px;
  background-color: white;
  border: 0px white;
  cursor: pointer;
  font-size: 14px;
  font-family: arial,sans-serif;
}

.cell {
  border-width: 0 3px 3px 0;
  border-style: solid; 
  border-color: rgb(13,161,146);
}

.field > div:last-of-type .cell {
  border-bottom: none;
}

.field .cell:last-of-type {
  border-right: none;
}

.row {
  display: flex;
}