.container {
  background-color: white;
  height: 100px;
  border: 0px white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side {
  width: 60px;
  height: 60px;
  border: 1px solid gray;
  border-radius: 15px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.image  {
  width: 40px;
  height: 40px;
}

.score {
  width: 20px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 5px;
  margin: 0 5px;
}

.sideChosen {
  background: rgb(20,189,172);
}