.container {
  background-color: white;
  height: 100px;
  border: 0px white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side {
  width: 60px;
  height: 60px;
  border: 1px solid gray;
  border-radius: 15px;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image  {
  width: 40px;
  height: 40px;
}

.switchBtn {
  display: inline-block;
  width: 60px;
  height: 34px;
  border-radius: 19px;
  background: #bfbfbf;
  z-index: 0;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  transition-duration: 300ms;
}
.switchBtn::after {
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 17px;
  background: #fff;
  left: 7px;
  top: 2px;
  transition-duration: 300ms;
  position: absolute;
  z-index: 1;
}

.switchOn::after {
  left: 27px;
}